

.skills {
  background-color: #eee;
  padding: 0.5em;
  text-align: center;
  min-width: 0;
}


.skill {
  background-color: #eee;
  padding: 0.5em;
  text-align: center;
  margin: 15px;
  width: 140px;
  border: none;
}

.skillType {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill:hover {
  top:-3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.goBack {
  text-align:right;
}